{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'styles/main.css' %}">

<h1>{{user}}: Completed Tasks</h1> <button>⚙ Account</button> 
<a href="{% url 'main' user.id %}"><button>Unfinished Tasks</button></a>
<a href="{% url 'index' %}"><button>Log out</button></a>
<p></p>
<p><h2>Tasks</h2></p>
{% for task in tasks %}

<p><h3> {{task.name}} :   {{task.description}}</h3></p>
<p> Due to: {{task.deadline}}</p>

<p style="margin-left: 100px;">
<div style="display: flex; gap: 10px; align-items: center;">
    <form method="POST" action="{% url 'uncomplete_task' user.id task.id %}">
        {% csrf_token %}
        <input type = "image" class="action-icon" src="{% static 'Descompletado.png' %}" alt="Delete" width="90">
    </form>

    <a href="{% url 'modify_task' user.id task.id 1 %}">
        <img class="action-icon" src="{% static 'Modificar.png' %}" alt="Update" width="90">
    </a>

    <form method="POST" action="{% url 'delete_task' user.id task.id %}">
        {% csrf_token %}
        <input type = "image" class="action-icon" src="{% static 'Eliminar.png' %}" alt="Delete" width="90">
    </form>
</div>

{% endfor %}

